/* This file is for your main application css. */
@media (min-width: 800px) {
  .main {
    margin: 0 auto;
    max-width: 90%;
  }
}

.result {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.result--passed .breakpoint--passed .image { display: none; }

.result--error .breakpoint--passed,
.result--failed .breakpoint--passed { display: none; }

.breakpoint--error .breakpoint__name,
.breakpoint--failed .breakpoint__name { background-color: #FF0000; }

.result__name {
  border-top: 1px solid #ccc;
}

.images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.image {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.image img {
  outline: 1px solid #ccc;
  max-width: 100%;
}

.image--loading,
.image--passed {
  height: 20rem;
  flex: 0 0 31%;
}

.image--loading { background-color: #ccc; }

.image--passed {
  background-color: green;
}
